body {
    background-color: #b7e9f7;
    overflow-x: hidden;
}

h1 {
    color: black;
}

h2 {
    font-family: "Times New Roman", Times, serif;
}

#top-img {
    background-image: url('../img/img_2947_resize.jpg');
    margin-top: 30px;
}


.ng-scope {
    margin-left: 5%;
    margin-right: 5%;
}

#logo {
    height: 75px;
    width: 250px;
}

#header {
	height: 50px;
	padding-top: 250px;
	background-color: #b7e9f7;
}

#main-content {
	height: 700px;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-fixed-top {
    padding: 0px;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

.navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

/* Footer */
footer {
    color: #fff;
    height: 50px;
    background-color: #b7e9f7;
}

footer .footer-col {
    margin-bottom: 50px;
}