<div class="page-top">

	<section class="section-1">
		<p>The EventDoc application was developed through the <a href='http://isis.washington.edu/'>Univeristy of Washington Institue of Simulation and Interprofessional Studies</a></p>
	</section>

	<section class="content section-2">
		<h2 id="dev-title">Development Team:</h2>
		<div id='theTeam' class='row'>
			<div class='col-sm-4'>
				<image id='bRoss' class='teampic' src='~/img/ross.jpg'></image>
				<p class='theTeam'>Brian Ross director of the UW Institute of Simulation and Interprofessional Studies, MD. PhD. and PI for this project</p><br/>
			</div>
			<div class='col-sm-4'>
				<image id='rLai' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Roland Lai Director of Surgical IT Services</p><br/>
			</div>
			<div class='col-sm-4'>
				<image id='bNair' class='teampic' src='../img/nair_b.jpg'></image>
				<p class='theTeam'>Bala Nair Research Associate Professor, Anesthesiology &amp; Pain Medicine, PhD.</p><br/>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-4'>
				<image id='aNaluai' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Andrew F. Naluai-Cecchini...</p><br/>
			</div>
			<div class='col-sm-4'>
				<image id='pOppenhiemer' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Peter Oppenheimer Programming Consultant</p><br/>
			</div>
			<div class='col-sm-4'>
				<image id='tWu' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Tim Wu PhD student in BioInformatics and Server Side Programmer</p><br/>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-4'>
				<image id='bKim' class='teampic' src='../img/Headshot.png'></image>
				<p class='theTeam'>Bryan Kim Research Coordinator</p><br/>
			</div>
			<div class='col-sm-4'>
				<image id='kMa' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Kevin Ma Research Technician</p><br/>
			</div>
			<div class='col-sm-4'>
				<image id='aRosler' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Axel Roelse Phd Design Consultant</p><br/>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-4'>
				<image id='pMeas' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Perry Meas Website Developer</p><br/>
			</div>
			<div class='col-sm-4'>
				<image id='eGrigoryan' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Eduard Grigoryan Website Developer</p><br/>
			</div>
			<div class='col-sm-4'>
				<image id='cRoss' class='teampic' src='../img/blankface.jpg'></image>
				<p class='theTeam'>Christopher Ross Website Developer and EventDoc intern</p><br/>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-4'>
				<image id='eGrigg' class='teampic' src='../img/Grigg_eliot.png'></image>
				<p class='theTeam'>Elliot Grigg Assistant Professor, Anesthesiology &amp; Pain Medicine</p><br/>
			</div>
		</div>
	</section>
	<section class='section-1 content'>
		<h2>Development in part Supported By</h2>
		<p>Department of Defense <br/>
		Grant #: <br/><br/>
		Patient Safety and Innovation Project Grant – UW-Medicine<br/><br/>
		University of Washington Department of Anesthesiology and Pain Management</p>
	</section>
</div>