<div class='page-top'>
	<section class='content2 section-1'>
		<h2 class='content'>Quick Start Guide</h2>
		<p>Your iPad has been configured with the EventDoc app located in the launchpad taskbar as well as a link to the EventDoc Server.It is recommended that you leave these icons there for easy app launch.</p>
		<image id='homeScreen' src='../img/HomeScreen.png' data-toggle="tooltip" title="You can see the application at the bottom of the screen"></image>
		<h2 class=content>Setting up your iPad network connection. <h2>
		<p>Set up your network so records can be uploaded to the server. Launch “Settings” (under the “Apps” folder) Tap “Wi-Fi”, and join your preferred network.Although you are connected to your local Wi-Fi network, you may need to log in to have access to the Internet. To verify your Internet connection you can access and refresh a web page in Safari.  If you cannot set up a connection to the Internet, contact your local system administrator.</p>
		<p>1.  Starting a new recording<br/> Hitting the “Start Recording” button on the EventDoc start 		screen creates a new recording, with a unique documentID. Recordings are stored locally on the 		iPad and also uploaded to the EventDoc server. <br/> <br/>
			2.  Resuming previous recording <br/>
			When EventDoc is launched and the previous recording was not completed, you will be prompted to either <br/>
			a. Resume and continue EXISTING RECORD or <br/>
			b. Start NEW RECORD <br/> <br/>
			3.  Automatic Server upload. <br/>
			EventDoc app will attempt to upload recordings to the EventDoc server during the recording process. If upload fails it will retry.  In either case the recording is stored locally on the iPad as a backup. <br/> <br/>
			4.  Managing existing records. <br/>
			If necessary locally stored files can be accessed: <br/>
			a.  via EventDoc admin tool <br/>
			b.  via iTunes <br/>
		</p>
		<div class="row">
			<image src='../img/startRecording.png' class='col-sm-5 startCode' data-toggle="tooltip" title='The start recording screen'></image>
			<image src='../img/restartCode.png' class='col-sm-5 startCode' data-toggle="tooltip" title='The start new code or resume old code screen'></image>
		</div>
		<!---<h3>Training modules for EventDoc</h3>
		<video class='module' class='col-sm-6' controls>
  			<source src="../vids/eventdoc_training[1].mp4" type="video/mp4">
  			Your Browser does not support the video
  		</video>-->
	</section>
</div>