<!-- Header Content Here -->
<header id="header">
	<div id="header-content">
		<div id="header-inner">
			<h1 class="title">EventDoc</h1>
			<h2 class="subtitle">Out of the chaos of saving lives, <br/>
			comes an advance in electronic medical record keeping.</h2>
		</div>
	</div>
</header>

<div id='home-content'>
	
	<section class='section-1 content'>
		<h2>What is EventDoc</h2>
		<p id='intro-blurb'>The EventDoc System is a comprehensive package that gives the users the recording application, device with application pre-installed, and all other necessary infrastructure to fully record a cardiac arrest event.  This holistic system is the future for hostipal record keeping and immediate patient information retrival.  During a Code Blue there is always hectic activity and the old style pen and paper recording only hampers the process of gathering the appropriate data needed for not only for the patients immediate future, but future patient safety as well.
		</p>
		<button type='button' class='btn btn-default'><a href='#/content'>Quick Start</a></button>
	</section>
	
	<section id='stats' class='section-2 content'>
		<h2>Why is EventDoc needed</h2>
		<p>EventDoc arose from the need to have a system to record the procedures performed upon attempting to recesitate a patient in a hospital.  As you can see from the data above there was a distinct lack of completion of the current paper and pen documentation.  This was extremely distressing for not only are these records used in discorving problems in the current practices, but there is an immediate need for care providers to be able to reference the different procedures and medication used throughout the recesitation process.  All of this pointed toward a system that used the interconnectivity of the internet and was based on a device that allowed instant access without a boot-up process.</p>
		<!-- Charts -->
	</section>

	<div class='chart-container'>
		<p class="chartTitle">Paper Documentation Completion</p>
		<p class="caption">Percent of samples having the information vs. information type</p>

		<canvas class='chart' id="Paper" height=500 width=900></canvas>
		<script src="js/Paper.js"></script>

		<p class="chartTitle">EventDoc vs. Paper Documentation</p>
		<p class="caption">EventDoc in blue, paper documentation in grey</p>

		<canvas class='chart' id="PaperVsEventDoc" height=500 width=900></canvas>
		<script src="js/PaperVsEventDoc.js"></script>
	</div>

	<section id='about-the-box' class='content section-2'>
		<h2>All in One Box</h2>
		<image id='fullBox' src='img/IMG_9072.jpg'></image>
		<p>All that is needed to use, record, and access the files will be provided within the package that a hospital may order.</p>  <h4>Click on the different pieces for details</h4>
		<!-- Server Modal -->
		<div id="serverModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h2 class="modal-title">The Server</h2>
		      </div>
		      <div class="modal-body">
		        <p>With the package you will recieve a full implemented server that the Ipads are already connected with. For more information go to our <a href='#/technical' onclick="$('serverModal').modal('hide')">Technical</a> section.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- IPad Modal -->
		<div id="ipadModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h2 class="modal-title">The IPads</h2>
		      </div>
		      <div class="modal-body">
		        <p>Within this package there will be 5 IPads that have the EventDoc fully loaded onto the devices and alreayd connected to the server and ready to record</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Charger Modal -->
		<div id="chargerModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h2 class="modal-title">The Chargers</h2>
		      </div>
		      <div class="modal-body">
		        <p>Within this package there will be 5 IPad chargers that can be used to keep the IPad's charged.  We recomend their charging stations to be in central areas for easy access during a cardiac arrest event</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Manual Modal -->
		<div id="manualModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h2 class="modal-title">The Manual</h2>
		      </div>
		      <div class="modal-body">
		        <p>Within this package there will be a manual that gives all pertient information into the functionality the EventDoc application affords you.  There will be a setup manual, along with a jump drive containg the three training modules.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="row">
			<a data-toggle='modal' data-target='#ipadModal'><image id='ipads' class='col-sm-3' src="img/FwSRsSV1lBceAIPO.jpg"></image></a>
			<a data-toggle='modal' data-target='#chargerModal'><image id='chargers' class='col-sm-3' src='img/0909-chargers.jpg'></image></a>
			<a data-toggle='modal' data-target='#manualModal'><image id='manual' class='col-sm-3' src='img/IMG_9075.jpg'></image></a>
			<a data-toggle='modal' data-target='#serverModal'><image id='server' class='col-sm-3' src='img/HP-server.jpg'></image></a>
		</div>
	</section>
</div>