<div id='home-content'>
	<div id='top-div'>
		<image id='top-img' src='img/img_2947_resize.jpg'></image>
		<h2>Out of the chaos of saving a life comes the future of recording<h2>
	</div>
	<p id='intro-blurb'>The EventDoc System is a comprehensive package that gives the users the recording application, device with application pre-installed, and all other necessary infrastructure to fully record a Code Blue event.  This holistic system is the future for hostipal record keeping and immediate patient information retrival.
	</p>
</div>