
<div class='content page-top'>
	<section class="section-1">
		<h2>What we are working on now</h2>
		<p>The EventDoc development process opened our eyes to many other outdated systems used in medicine to record the multitude of events that take place in a hospital. Using the EventDoc framework, we have started to develop a system geared toward trauma patients that would allow intuitive recordkeeping, with easy access to records so that medical providers can access them instantly when needed. This is our answer to the fast-paced recordkeeping
		requirements of a Level 1 Trauma Center.
		</p>
		<image id='traumaDoc' src='img/trauma-doc.png'  data-toggle="tooltip" title='A image of a protoype screen for TraumaDoc'></image>
	</section>
</div>