<div class='page-top' id='technical-content'>
	<section class='content section-1'>
		<h2>How it works</h2>
		<p>The communication between the iPad and the EventDoc™ server is now based on client certificate (over SSL), a critical feature for secure communication. This feature has been successfully tested. The following figure shows the certificate-based communication protocol used for EventDoc™:</p>
		<image class='serverPic' src='img/server-pic.png'></image>
	</section>
		
	<section class='content section-2'>
		<h2>Data Flow</h2>
		<div class="item">
    		<p>1.) When a code is recorded through a client device, every data item is transmitted to the server wirelessly as soon as it is entered to the stack or the bullpen. The format of the data transmitted is XML. <br/> <br/>
    		2.) The XML file is validated, and the code information is extracted from the file, which is then saved to the database. The contents of all the XML files are also saved to the database. <br/> <br/>
    		3.) When the user finished recording the code, a reminder email is immediately sent to them which contains a link to the post-code form.
    		4.) The user can follow the link to complete the form (after successful login). Alternatively, on the device, the interface automatically switches to the post-code form at the end of the recording, which allows the user to fill out the form directly from the device if they so choose. <br/> <br/>
    		5.) Once the post-code form is completed, the information is saved to the database. <br/> <br/>
    		6.) The user can now view or print the tabbed EMR report and the CQI report in PDF format. <br/> <br/>
    		7.) The EMR report shows the individual data item placed on a timeline under the proper categories. The CQI report contains a number of calculated figures about the code, and details of all the data entries including pairs of ordered and given items. <br/> <br/>
    		7.) If the user fails to fill out the post-code form, a reminder email will be sent every 24 hours until the form is completed. <br/> <br/>
    		8.) The user can also sign in to the server application anytime via a regular web browser to search, view, or download information of any existing code. The searching criteria include the data of the code, patient's name, and the code's status (either finalized or pending finalized). </p> 
		</div>
		<image src='img/DataFlow.png'></image>
	</section>
		
	<section class='content section-1'>
		<h2>Server Side Security</h2>
		<div class='item'>
			<p>1.) The server-side application consists of two modules: the data receiver module (DRM) and the post-code form and reporting module (PCFRM). The web server has been configured such that a client certificate is required when the client tries to connect with DRM.  <br/> <br/>
			2.) A handshake is carried out between the client and DRM by exchanging their certificates. A secure connection is then established to ensure the communications are encrypted via SSL. <br/> <br/>
			3.) DRM retrieves the public key from the client certificate and validates it by comparing it against a list of active certificates. The data submitted by the client are accepted only after the client certificate is determined to match one of the active certificates (this part is under construction). Managing a list of active certificates also allows revoking a certificate in case the corresponding device is lost. <br/> <br/> 
			4.) PCFRM can be accessed from a regular web browser that is capable of accepting server SSL certificates. To sign into PCFRM, the user provides a username and password, which are then forwarded to the UW identify provider for authentication via a Shibboleth-based mechanism. <br/><br/> 
			5.) The credentials returned from the UW identify provider are then used for authorization. The user may or may not access certain resources depending on whether they are determined to be associated with some pre-defined groups. Currently, the application accepts two groups: the AMC group and the ADMIN group. Members of the AMC group can access the EMR report but not the CQI reports, while the ADMIN group members can access both.</p>
		</div>

		<div class='row'>
			<image class='col-sm-6' src='img/serve-side-security.png'></image>
			<image class='col-sm-6' src='img/Client-certificate.png'></image>
		</div>
	</section>
</div>

















