<div class='page-top' id='technical-content'>
	<section class='content section-1'>
		<h2>How it Works</h2>
		<p>The communication between the iPad and the EventDocTM server is now based on client certificate (over SSL), a critical feature for secure communication. This feature has been successfully tested. The following figure shows the certificate-based communication protocol used for EventDocTM</p>
		<image class='serverPic' src='../img/server-pic.png'></image>
	</section>
		
	<section class='content section-2'>
		<h2>Data Flow</h2>
		<div class="item">
    		<p>1.) When a code is recorded through client device, every data item is transmitted to the server wirelessly as soon as it is entered to the stack or the bullpen. The format of the data transmitted is XML (step 1) <br/> <br/>
    		2.) The XML file is validated, and the code information is extracted from the file, which is then saved to the database. The contents of all the XML files are also saved to the database (step2) <br/> <br/>
    		3.) When the user finisehd recording the code, a reminder email is immediately sent to him/her which contains a link to the post-code form (step3). He/she can follow the link to complete the from (after successful login). Alternatively, on the device, the interface automatically switches to the post-code from at the end of the recording, which allows the user to fill out the form directly from the device if he/she chosses to (step 4). <br/> <br/>
    		4.) Once the post-code form is completed, the infromation is saved to the database (step 5). The user can now view or print the tabbed EMR report and the CQI report in PDF format (step 6). The EMR report shows the individual data item placed on a time line under proper categories. The CQI report contains a number calculated figures about the code, and details of all the data entries including pairs of ordered and givent items. <br/> <br/>
    		5.) In case the user, for some reason, misses filling out the post-code form, a reminder email will be sent every 24 hours until the form is completed (step 7) <br/> <br/>
    		6.) The user can also sign in to the server application anytime via a regular web browser to search, view, or download infromation of any existing code (step 8). The seraching criteria include data of the code, patient's name, and the code's status (either finalized or pending finalized)</p> 
		</div>
		<image src='../img/DataFlow.png'></image>
	</section>
		
	<section class='content section-1'>
		<h2>Server Side Security</h2>
		<div class='item'>
			<p>1.) The server-side application consists of two modules: the data receiver module (DRM) and the post-code form and reporting module (PCFRM). The web server has been configured such that a client certificate is required when the client tries to connect with DRM.  <br/> <br/>
			2.) A handshake is carried out between the client and DRM by exchanging their certificates. A secure connection is then established to ensure the communications are encrypted via SSL <br/> <br/>
			3.) DRM retrieves the public key from the client certificate and validates it by comparing it against a list of active certificates. The data submitted by the client are accepted only after the client certificate is deteremined to match one of the active certificates (this part is under construction). Managing a list of active certificates also allows revoking a certificate in case the corresponding device is lost <br/> <br/> 
			4.) PCFRM can be accessed from a regular web rowser that is capable of accepting server SSL certificate. To sign into PCFRM, the user provides user name and password, which are then forwarded to the UW identify provider for authentication via a shibboleth-based mechanism <br/><br/> 
			5.) The credentials returned from the UW identify provider is then used for authorization. The user may or may not access certain resources depending on whether he/she is determined to be associated with some pre-defined groups. Currently, the application accepts two groups: the AMC group and teh ADMIC group. Memeber of AMC group can access the EMR report but not the CQI reports, while the ADMIN group members can access both.</p>
		</div>

		<div class='row'>
			<image class='col-sm-6' src='../img/serve-side-security.png'></image>
			<image class='col-sm-6' src='../img/Client-certificate.png'></image>
		</div>
	</section>
</div>

















