<div id='technical-content'>
	<section class='content'>
		<h2>How it Works</h2>
		<h3>Data Flow</h3>
		<p>The communication between the iPad and the EventDocTM server is now based on client certificate (over SSL), a critical feature for secure communication. This feature has been successfully tested. The following figure shows the certificate-based communication protocol used for EventDocTM</p>
		<image id='serverPic' src='../img/server-pic.png'></image>
		<image src='../img/DataFlow.png'></image>
	</section>
</div>